{{ bootstrap.load_css() }}
{{ bootstrap.load_js() }}
<html>  
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
</head>
</html>
<center>
<div>
<form method="POST" action="/">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(size=20) }}
    <input type="submit" value="Go">
</form>
</div>
</center>

<div style="padding-right: 550px; float: left;">
<div class="text-center">
<p>{{w_data['name']}}</p>
<p>Current Temperature: {{w_data['main']['temp']}} F°</p>
<p>Feels Like: {{w_data['main']['feels_like']}} F°</p>
<p>High: {{w_data['main']['temp_max']}} F° Low: {{w_data['main']['temp_min']}} F°</p>
<p>Conditons: {{w_data['weather'][0]['description']}}</p>
<img src="http://openweathermap.org/img/w/{{w_data['weather'][0]['icon']}}.png">
</div>
</div>
</div>

<div style="float: left">
<p class="font-weight-bold" style = "margin-left: 1.4em" >News and Headlines</p>
<div class="mx-auto" style="width: 900px;">
<div class="row">
<div class="col">
    <div class="card shadow-sm">
        <img src={{data['articles'][0]['image']}} width="100%", height=255>

      <div class="card-body">
        <p class="font-weight-bold">{{data['articles'][0]['title']}}</p>
        <p class="card-text">{{data['articles'][0]['description']}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <a href={{data['articles'][0]['url']}} type="button" class="btn btn-sm btn-outline-secondary" target="_blank">View</a>
          <small class="text-muted">{{data['articles'][0]['source']['name']}}</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
        <img src={{data['articles'][1]['image']}} width="100%", height=255>

      <div class="card-body">
        <p class="font-weight-bold">{{data['articles'][1]['title']}}</p>
        <p class="card-text">{{data['articles'][1]['description']}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <a href={{data['articles'][1]['url']}} type="button" class="btn btn-sm btn-outline-secondary" target="_blank">View</a>
          <small class="text-muted">{{data['articles'][1]['source']['name']}}</small>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col">
        <div class="card shadow-sm">
            <img src={{data['articles'][2]['image']}} width="100%", height=255>
    
          <div class="card-body">
            <p class="font-weight-bold">{{data['articles'][0]['title']}}</p>
            <p class="card-text">{{data['articles'][0]['description']}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <a href={{data['articles'][2]['url']}} type="button" class="btn btn-sm btn-outline-secondary" target="_blank">View</a>
              <small class="text-muted">{{data['articles'][0]['source']['name']}}</small>
            </div>
          </div>
        </div>
      </div>
  <div class="col">
    <div class="card shadow-sm">
        <img src={{data['articles'][3]['image']}} width="100%", height=255>

      <div class="card-body">
        <p class="font-weight-bold">{{data['articles'][2]['title']}}</p>
        <p class="card-text">{{data['articles'][2]['description']}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <a href={{data['articles'][3]['url']}} type="button" class="btn btn-sm btn-outline-secondary" target="_blank">View</a>
          <small class="text-muted">{{data['articles'][2]['source']['name']}}</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col">
        <div class="card shadow-sm">
            <img src={{data['articles'][4]['image']}} width="100%", height=255>
    
          <div class="card-body">
            <p class="font-weight-bold">{{data['articles'][3]['title']}}</p>
            <p class="card-text">{{data['articles'][3]['description']}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <a href={{data['articles'][4]['url']}} type="button" class="btn btn-sm btn-outline-secondary" target="_blank">View</a>
              <small class="text-muted">{{data['articles'][3]['source']['name']}}</small>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card shadow-sm">
            <img src={{data['articles'][5]['image']}} width="100%", height=255>
    
          <div class="card-body">
            <p class="font-weight-bold">{{data['articles'][4]['title']}}</p>
            <p class="card-text">{{data['articles'][4]['description']}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <a href={{data['articles'][5]['url']}} type="button" class="btn btn-sm btn-outline-secondary" target="_blank">View</a>
              <small class="text-muted">{{data['articles'][4]['source']['name']}}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="card shadow-sm">
                <img src={{data['articles'][6]['image']}} width="100%", height=255>
        
              <div class="card-body">
                <p class="font-weight-bold">{{data['articles'][3]['title']}}</p>
                <p class="card-text">{{data['articles'][3]['description']}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <a href={{data['articles'][6]['url']}} type="button" class="btn btn-sm btn-outline-secondary" target="_blank">View</a>
                  <small class="text-muted">{{data['articles'][3]['source']['name']}}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src={{data['articles'][7]['image']}} width="100%", height=255>
        
              <div class="card-body">
                <p class="font-weight-bold">{{data['articles'][4]['title']}}</p>
                <p class="card-text">{{data['articles'][4]['description']}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <a href={{data['articles'][7]['url']}} type="button" class="btn btn-sm btn-outline-secondary" target="_blank">View</a>
                  <small class="text-muted">{{data['articles'][4]['source']['name']}}</small>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
</div>
</div>